* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vw;
}

.mail-text-area {
  margin-bottom: 0.5rem;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 90%;
  height: 200px;
  padding: 1rem;
  font-size: 1rem;
}

.mail-text-area::first-letter {
  text-transform: uppercase;
}

.mail-text-area:focus {
  outline: #238636;
}

body {
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #ffffff;
  color: #242424;
}

.table-options-icon {
  height: 32px;
}

.table-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 2px;
}

.table-options>button {
  background-color: transparent;
  padding: 5px;
}

.table-options>button:hover {
  border-color: transparent;
  background-color: #bfbfbf;
}

.search-bar {
  width: 100%;
  padding: 10px 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.search-bar>input {
  width: 40%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 15px;
}

.search-bar>button {
  background-color: #238636;
  padding: 8px;
  color: #fff;
}

.add-button {
  background-color: #238636;
  padding: 8px;
  color: #fff;
}

.button-back {
  width: calc(100% - 10%);
  background-color: firebrick;
  margin-top: 5px;
  color: #fff;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.years {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.persistCheck {
  display: flex;
  flex-direction: row;
  width: calc(100% - 10%);
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 2.5rem;
  padding: 0.25rem;
}

.loginForm .persistCheck>label {
  align-self: center;
  margin-left: 0.25rem;
}

.persistCheck input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
}

.LoginLinks {
  width: calc(100% - 10%);
  display: flex;
  justify-content: space-between;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 15px white;
}

.radio-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.radio-line input[type='radio'] {
  height: 1.5rem;
}

.radio-line input[type='radio']:checked {
  background-color: green;
}

.likert-scale-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.likert-scale {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 10px;
  cursor: pointer;
  text-align: center;
}

.likert-scale input[type='radio'] {
  transform: scale(1.5);
  margin: 2px;
  cursor: pointer;
}

.likert-scale input[type='radio']:checked {
  background-color: green;
}

.review-question {
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.Content {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.CenterContent {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 16px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  padding-bottom: 2rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 0.5rem;
}

.loginForm label {
  align-self: flex-start;
  margin-left: 5%;
}

.loginForm h3 {
  background-color: rgb(240, 240, 240);
  width: 100%;
  text-align: center;
  font-weight: 350;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  margin-bottom: 1rem;
}

.loginForm input[type="text"],
.loginForm input[type="email"],
.loginForm input[type="number"],
.loginForm input[type="password"] {
  width: calc(100% - 10%);
  height: 3rem;
  outline: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: lighter;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding-left: 10px;
}

button[type="submit"] {
  background-color: #238636;
  color: white;
  width: calc(100% - 10%)
}

button[type="submit"]:disabled {
  opacity: 0.3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.line {
  display: inline-block;
  margin-left: 5px;
}

table {
  width: calc(100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table-container {
  width: calc(100% - 2rem);
  overflow-x: auto;
}

.tableOptionButton {
  background-color: transparent;
  height: auto;
  width: auto;
  padding: 0.5rem;
}

th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

thead {
  background-color: rgba(0, 0, 0, 0.1);
}

td {
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td:last-of-type {
  padding: 0;
  text-align: center;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: 10px;
  margin-bottom: 5px;
}

.successMsg {
  background-color: limegreen;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  width: fit-content;
  align-self: center;
}

.RegisterForm {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.FormColumn {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.FormColumn label {
  width: 100%;
}

.RegisterForm input[type="text"],
.RegisterForm input[type="email"],
.RegisterForm input[type="number"],
.RegisterForm input[type="password"] {
  width: 100%;
  height: 2rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding-left: 10px;
}

.FormTitle {
  background-color: rgb(240, 240, 240);
  width: 100%;
  text-align: center;
  font-weight: 350;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  margin-bottom: 1rem;
}

.mainInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainInput input {

  height: 2rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding-left: 10px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  padding-bottom: 1rem;
}

.errMsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  width: fit-content;
  align-self: center;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.save-changes-button,
.save-changes-button-disabled {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: rgb(46, 214, 60);
  padding: 20px;
  border-radius: 50px;
}

.save-changes-button-disabled {
  opacity: 0.3;
  cursor: auto;
}

.page-subtitle {
  padding: 20px;
  text-align: center;
  max-width: 500px;
}

.sutiation-select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 16px;
}

.sutiation-select-container .Dropdown {
  max-width: 25%;
  padding: 0;
}

.sutiation-select-container .Dropdown .DropdownPanel {
  padding: 10px;
  height: auto;
}

.survey-likert {
  width: calc(100% - 10%);
  margin-bottom: 16px;
}

.survey-likert .likert-scale-options {
  justify-content: space-evenly;
}

.survey-likert .likert-scale {
  width: 20%;
  align-items: center;
}

.survey-likert .likert-scale label {
  margin: 0;
  text-align: center;
  width: 100%;
}

.send-mails-container {
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 10px;
}

.send-mails-container>button {
  background-color: #238636;
  color: #fff;
  padding: 6px;
  font-size: 0.8rem;
}

.filtros {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
}

.filtros>.select-course-filter {
  width: 60%;
  margin-bottom: -10px;
}

.filtros button {
  margin-top: 10px;
  color: #fff;
}

.filtros .add-filter {
  background-color: #238636;
}

.filtros .remove-filter {
  background-color: firebrick;
}

.filter-buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.dottedList {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  max-width: 800px;
  width: 95%;
  margin-bottom: 20px;
}

.dottedList li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
}

.dottedList span {
  display: inline-block;
}

.dottedList li span:first-of-type {
  margin-right: 10px;
  white-space: nowrap;
}

.dottedList li span:last-of-type {
  margin-left: 10px;
  white-space: nowrap;
}

/* Botão Flutuante */
.backButton {
  padding: 5px;
  background-color: #238636;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dottedList h4 {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

.answers {
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.question {
  margin: 0 5px;
  margin-bottom: 1rem;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.commentary {
  padding: 10px;
  margin-bottom: 1rem;
  font-weight: 100;
  text-align: justify;
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.question:first-of-type {
  margin-top: 1rem;
}

.question p {
  font-weight: 600;
}

.question span {
  margin-left: 0.3rem;
  font-weight: 100;
}

.backButton:disabled {
  opacity: 0.5;
}

.backButton:disabled:hover {
  border-color: #fff;
}

.detailsOptions {
  display: flex;
  flex-direction: row;
}

.detailsOptions .backButton:last-of-type {
  background-color: firebrick;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.add-button {
  padding: 5px !important;
  background-color: #238636 !important;
}

.back-button {
  background-color: firebrick;
  color: #fff;
}

.flex-buttons {
  display: flex;
  gap: 20px;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}